@charset "utf-8";
/* CSS Document */
header {
	height:56px;
	background-color: yellow;
	background-image: url('planets.gif');
	background-repeat:no-repeat
}
header a{
	display:inline-block;
	width:100%;
	height:100%;
	
}
a:link{
	text-decoration:none;
}

a:hover{
	border: solid 2px #00a0dd !important;
}

a:visited{
	text-decoration:none;
	color:#FFF;
}

